
services:

  multiservice-discovery:
    image: ghcr.io/dfinity/dre/multiservice-discovery:cac3154c7868faf9acad14f8585d37df27169573
    network_mode: host
    command:
      - --targets-dir
      - /msd
      - --networks-state-file
      - /msd/definitions.json
    volumes:
      - ./volumes/msd:/msd
    user: "${UID}:${GID}"

  victoriametrics:
    image: victoriametrics/victoria-metrics:v1.129.1
    network_mode: host
    volumes:
      - ./config/prometheus:/config
      - ./volumes/victoria/:/victoria
    command:
      - --storageDataPath=/victoria
      - --httpListenAddr=:9090
      - --retentionPeriod=1y
      - --dedup.minScrapeInterval=30s
      - --promscrape.config=/config/config.yaml
      - --promscrape.configCheckInterval=30s
      - --enableTCP6=true
    user: "${UID}:${GID}"
    deploy:
      resources:
        limits:
          memory: 12G
        reservations:
          memory: 12G

  node-rewards-ingester:
    build:
      context: .
      dockerfile: ./tools/python.Dockerfile
    network_mode: host
    environment:
      VICTORIA_METRICS_URL: http://localhost:9090
    volumes:
      - ./tools/node-rewards-scheduler/node_rewards_ingester.py:/app/node_rewards_ingester.py
    command: /app/node_rewards_ingester.py
    user: "${UID}:${GID}"
    depends_on:
      - victoriametrics

  grafana:
    image: grafana/grafana:12.2.1
    network_mode: host
    environment:
      PROM_HOST: localhost
    volumes:
      - ./config/grafana:/etc/grafana
      - ./volumes/grafana:/var/lib/grafana
    user: "${UID}:${GID}"
    depends_on:
      - victoriametrics
