- name: Gather status of K3s
  ansible.builtin.shell:
    cmd: systemctl --no-pager status k3s
  check_mode: false
  failed_when: false
  register: k3s_status
  changed_when: false
- name: Ensure k3s local provisioner path exists
  ansible.builtin.file:
    path: "{{ persistence_volume_path | expanduser }}"
    state: directory
- name: Retrieve K3s installer
  ansible.builtin.get_url:
    url: https://get.k3s.io
    dest: /usr/local/bin/get-k3s-io.sh
  register: k3s_installer
- name: Run K3s installer
  ansible.builtin.shell:
    cmd: |
      export INSTALL_K3S_EXEC={{ k3s_INSTALL_K3S_EXEC | quote }}
      sh /usr/local/bin/get-k3s-io.sh
  register: k3s_installation
  changed_when: >-
    "No change detected so skipping service start" not in k3s_installation.stdout
- name: Check K3s is operating correctly
  ansible.builtin.shell:
    cmd: systemctl --no-pager status k3s
  check_mode: false
  changed_when: false
  register: k3s_check
- name: Make sure that anyone can read /etc/rancher/k3s/k3s.yaml
  ansible.builtin.shell:
    cmd: chmod 644 /etc/rancher/k3s/k3s.yaml
  check_mode: false
  changed_when: false
  become: true
- name: Wait until K3s is ready
  ansible.builtin.shell:
    cmd: |
      set -e
      r=0
      for _ in `seq 10`
      do
        kubectl run liveness-check --rm -i --image ubuntu -- bash -c '
          sleep 5 ; echo I am working correctly ; /bin/true
        ' && r=0 || r=$?
        if [ "$r" = "0" ]
        then
          break
        fi
        echo "Kubernetes is not ready yet (return code $r)" >&2
        sleep 1
      done
      exit $r
  check_mode: false
  changed_when: false
- name: Test IPv6 connectivity from within a K3s pod
  ansible.builtin.shell:
    cmd: |
      kubectl run ipv6-check --rm -i --image ubuntu -- bash -c '
        apt-get update && apt-get install -y net-tools iputils-ping && ifconfig && ping -c2 -6 google.com && false
      '
  changed_when: false
  check_mode: false
