- name: Check if Vagrant is already installed
  ansible.builtin.command: which vagrant
  register: vagrant_check
  ignore_errors: true

- name: Skip installation if Vagrant is already installed
  ansible.builtin.debug:
    msg: "Vagrant is already installed at {{ vagrant_check.stdout }}"
  when: vagrant_check.rc == 0

- name: Fail on unsupported distribution
  ansible.builtin.fail:
    msg: "Your operating system is not supported.  Please install Vagrant on your system using the method documented by the Vagrant project."
  when:
    - vagrant_check.rc != 0
    - not (ansible_facts["os_family"] == "Debian" or ansible_facts["distribution"] == "Fedora" or ansible_facts["os_family"] == "Darwin")

- name: Add Vagrant repository
  ansible.builtin.deb822_repository:
    name: vagrant
    types: deb
    uris: https://apt.releases.hashicorp.com
    suites: "{{ ansible_distribution_release }}"
    components:
      - main
    signed_by: https://apt.releases.hashicorp.com/gpg
  when: >-
    ansible_facts["os_family"] == "Debian"
  become: true
  become_user: root
  register: debian_repo
- name: Install Vagrant
  ansible.builtin.package:
    name: vagrant
    state: present
    update_cache: "{{ debian_repo.changed }}"
  when: >-
    ansible_facts["os_family"] == "Debian"
  become: true
  become_user: root

- name: Add Vagrant repository
  ansible.builtin.get_url:
    url: https://rpm.releases.hashicorp.com/fedora/hashicorp.repo
    dest: /etc/yum.repos.d/hashicorp.repo
    checksum: sha256:566af9d3935185bbcb05bba8a9fff8959f0cc8e95153f15378e6fc157cb57ae1
  when: >-
    ansible_facts["distribution"] == "Fedora"
  become: true
  become_user: root
- name: Install Vagrant
  ansible.builtin.package:
    name: vagrant
    state: present
  when: 
    - vagrant_check.rc != 0
    - ansible_facts["distribution"] == "Fedora"
  become: true
  become_user: root

- name: Install Vagrant on Mac OS X
  community.general.homebrew_cask:
    name: vagrant
    state: present
  when: 
    - vagrant_check.rc != 0
    - ansible_facts["os_family"] == "Darwin"
  become: false

- name: Install Vagrant disk size plugin
  ansible.builtin.shell:
    cmd: |
      vagrant plugin list | grep disksize || {
        vagrant plugin install vagrant-disksize
        >&2 echo Plugin installed
      }
  when:
    - vagrant_check.rc != 0
    - ansible_facts["os_family"] == "Debian" or ansible_facts["distribution"] == "Fedora" or ansible_facts["os_family"] == "Darwin"
  register: vagrant_disksize
  changed_when: >-
    "Plugin installed" in vagrant_disksize.stderr
  become: false
