- name: Check if Virtualbox is already installed
  ansible.builtin.command: which virtualbox
  register: virtualbox_check
  ignore_errors: true

- name: Skip installation if Virtualbox is already installed
  ansible.builtin.debug:
    msg: "Virtualbox is already installed at {{ virtualbox_check.stdout }}"
  when: virtualbox_check.rc == 0

- name: Fail on unsupported distribution
  ansible.builtin.fail:
    msg: "Your operating system is not supported.  Please install Vagrant on your system using the method documented by the Vagrant project."
  when: 
    - virtualbox_check.rc != 0 
    - not (ansible_facts["os_family"] == "Debian" or ansible_facts["distribution"] == "Fedora" or ansible_facts["os_family"] == "Darwin")

- name: Install VirtualBox on Debian-based systems
  when: 
    - virtualbox_check.rc != 0
    - ansible_facts["os_family"] == "Debian"
  block:
    - name: Prevent System76 packages from screwing with VirtualBox
      ansible.builtin.copy:
        dest: "{{ item }}-no-vbox"
        content: |
          Package: virtualbox*
          Pin: release o=LP-PPA-system76-dev-stable
          Pin-Priority: -1

          Package: virtualbox*
          Pin: release o=LP-PPA-system76-dev-pre-stable
          Pin-Priority: -1

          Package: virtualbox
          Pin: release o=LP-PPA-system76-dev-stable
          Pin-Priority: -1

          Package: virtualbox
          Pin: release o=LP-PPA-system76-dev-pre-stable
          Pin-Priority: -1
      with_first_found:
        - files:
            - /etc/apt/preferences.d/system76-apt-preferences
          skip: true
      become: true
      become_user: root
    - name: Install VirtualBox
      ansible.builtin.package:
        name:
          - virtualbox
          - virtualbox-dkms
        state: present
      become: true
      become_user: root
    - name: Enable VirtualBox DKMS
      shell: |
        if modprobe vboxdrv && modprobe vboxnetadp && modprobe vboxnetflt
        then
          >&2 echo VirtualBox is activated properly
          exit
        else
          output=$(dkms autoinstall 2>&1) ; ret=$? ; >&2 echo "$output"
          if [ "$ret" != "0" ] && echo "$output" | grep -q "Please.install.the"
          then
            kernel=$(echo "$output" | grep "Please.install.the" | awk ' { print $4 } ')
            apt-get install -y "$kernel"
            dkms autoinstall >&2 ; ret=$?
            if [ "$ret" != "0" ]
            then
              log=$(find /var/lib/dkms/virtualbox -mmin -5 -name make.log)
              >&2 cat "$log"
              exit $ret
            fi
          elif [ "$ret" != "0" ]
          then
            log=$(find /var/lib/dkms/virtualbox -mmin -5 -name make.log)
            >&2 cat "$log"
            exit $ret
          fi
          modprobe vboxdrv && modprobe vboxnetadp && modprobe vboxnetflt || {
            exit 16
          }
          >&2 echo VirtualBox is now activated properly
          exit
        fi
      become: true
      become_user: root
      register: vbox
      changed_when: >-
        "VirtualBox is now activated properly" in vbox.stderr

- name: Install VirtualBox on Fedora systems
  when: 
    - virtualbox_check.rc != 0
    - ansible_facts["distribution"] == "Fedora"
  block:
    - name: Import VirtualBox RPM key
      ansible.builtin.rpm_key:
        key: https://www.virtualbox.org/download/oracle_vbox.asc
        state: present
      become: true
      become_user: root
    - name: Create VirtualBox repository
      ansible.builtin.copy:
        content: |
          [VirtualBox]
          name=Fedora $releasever - $basearch - VirtualBox
          baseurl=http://download.virtualbox.org/virtualbox/rpm/fedora/$releasever/$basearch
          enabled=1
          gpgcheck=1
          repo_gpgcheck=1
          gpgkey=https://www.virtualbox.org/download/oracle_vbox.asc
        dest: /etc/yum.repos.d/virtualbox.repo
      become: true
      become_user: root
    - name: Install VirtualBox
      ansible.builtin.package:
        name: virtualbox
        state: present
      become: true
      become_user: root
    - name: Enable VirtualBox DKMS
      shell: |
        if modprobe vboxdrv && modprobe vboxnetadp && modprobe vboxnetflt
        then
          >&2 echo VirtualBox is activated properly
          exit
        else
          dkms autoinstall || {
            ret=$?
            log=$(find /var/lib/dkms/virtualbox -mmin -5 -name make.log)
            >&2 cat "$log"
            exit $ret
          }
          >&2 echo VirtualBox is now activated properly
        fi
      become: true
      become_user: root
      register: vbox
      changed_when: >-
        "VirtualBox is now activated properly" in vbox.stderr

- name: Install VirtualBox on Mac OS X
  when: 
    - virtualbox_check.rc != 0
    - ansible_facts["os_family"] == "Darwin"
  block:
    - community.general.homebrew_cask:
        name: virtualbox
        state: present
      when: ansible_facts["architecture"] != "arm64"
    - shell:
        cmd: |
          which VBoxManage || {
            >&2 echo VirtualBox for Apple Silicon Mac OS X must be installed manually.
            >&2 echo Please download the macOS/ARM64 BETA release from
            >&2 echo https://www.virtualbox.org/wiki/Testbuilds
            >&2 echo "then install it; after installation, re-run this formula."
            >&2 echo
            >&2 echo "Note that VirtualBox BETA on Apple Silicon has stability issues."
            exit 4
          }
      changed_when: false
      when: ansible_facts["architecture"] == "arm64"
