# https://docs.k3s.io/installation/requirements?os=debian
- name: Install pip
  ansible.builtin.package:
    pkg: python3-pip
    state: present
- name: Install OpenShift pip module
  ansible.builtin.apt:
    name: python3-openshift
    state: present
- name: Install Kubernetes pip module
  ansible.builtin.apt:
    name: python3-kubernetes
    state: present
- block:
    - import_tasks: ../../tasks/install-helm.yml
  tags:
    - helm
