
services:

  multiservice-discovery:
    image: ghcr.io/dfinity/dre/multiservice-discovery:cac3154c7868faf9acad14f8585d37df27169573
    network_mode: host
    command:
      - --targets-dir
      - /msd
      - --networks-state-file
      - /msd/definitions.json
    volumes:
      - ./volumes/msd:/msd

  victoriametrics:
    image: victoriametrics/victoria-metrics:v1.97.1
    network_mode: host
    volumes:
      - ./volumes/victoriametrics:/victoria-metrics-data
    command:
      - --storageDataPath=/victoria-metrics-data
      - --httpListenAddr=:9090
      - --retentionPeriod=1y
    deploy:
      resources:
        limits:
          memory: 12G
        reservations:
          memory: 12G

  node-rewards-scheduler:
    image: ubuntu:24.04
    platform: linux/amd64
    network_mode: host
    environment:
      VICTORIA_METRICS_URL: http://localhost:9090
      DRE_VERSION: "0.7.0"
    volumes:
      - ./volumes/node-rewards-scheduler:/scheduler
      - ./config/node-rewards-scheduler/entrypoint.sh:/entrypoint.sh:ro
    entrypoint: /entrypoint.sh
    depends_on:
      - victoriametrics

  grafana:
    image: grafana/grafana:12.2.1
    network_mode: host
    environment:
      PROM_HOST: localhost
    volumes:
      - ./config/grafana:/etc/grafana
      - ./volumes/grafana:/var/lib/grafana
    user: "${UID}:${GID}"
    depends_on:
      - victoriametrics
