
services:

  multiservice-discovery:
    image: ghcr.io/dfinity/dre/multiservice-discovery:cac3154c7868faf9acad14f8585d37df27169573
    command:
      - --targets-dir
      - /msd
      - --networks-state-file
      - /msd/definitions.json
    volumes:
      - ./volumes/msd:/msd
    ports:
      - 8000:8000

  prometheus:
    image: quay.io/prometheus/prometheus:v2.51.1
    volumes:
      - ./config/prometheus:/config
      - ./volumes/prometheus/:/prometheus
    command:
      - --config.file
      - /config/config.yaml
      - --storage.tsdb.path=/prometheus
      - --storage.tsdb.retention.time=6m
    ports:
      - 9090:9090
