anchors:
  tls: &tls
    tls_config:
      insecure_skip_verify: true

  relabel_strip_scheme: &relabel_strip_scheme
    source_labels:
      - __address__
    target_label: __address__
    regex: (.*)://(.*)
    replacement: ${2}
    action: replace
  relabel_strip_metrics: &relabel_strip_metrics
    source_labels:
      - __address__
    target_label: __address__
    regex: (.*?)/(.*)
    replacement: ${1}
    action: replace
  relabel_prevent_mismatch_job: &relabel_prevent_mismatch_job
    source_labels: ["job"]
    target_label: __dropped
    regex: "<job-relabel-placeholder>"
    action: keep 

  relabelings: &relabelings
    relabel_configs:
      - *relabel_strip_scheme
      - *relabel_strip_metrics
      - *relabel_prevent_mismatch_job 

  http_configs: &http_configs
    http_sd_configs:
      - url: http://multiservice-discovery:8000/prom/targets
        refresh_interval: 15s

global:
  # Change this to control how frequently prometheus
  # scrapes the targets. Prometheus accepts <duration>
  # as the value for this field.
  # More about duration: https://prometheus.io/docs/prometheus/latest/configuration/configuration/#duration
  scrape_interval: 30s

scrape_configs:
  - job_name: replica
    metrics_path: ""

    <<: *tls

    <<: *http_configs

    <<: *relabelings

  - job_name: orchestrator
    metrics_path: ""
    
    <<: *tls

    <<: *http_configs

    <<: *relabelings

  - job_name: node_exporter
    metrics_path: /metrics
    scheme: https
    
    <<: *tls

    <<: *http_configs

    <<: *relabelings


  - job_name: host_node_exporter
    metrics_path: /metrics
    scheme: https
    
    <<: *tls

    <<: *http_configs

    <<: *relabelings

  - job_name: node_reward_canister
    metrics_path: /metrics
    scheme: https

    <<: *tls

    static_configs:
      - targets:
        - uuew5-iiaaa-aaaaa-qbx4q-cai.raw.icp0.io
        - sgymv-uiaaa-aaaaa-aaaia-cai.raw.icp0.io

    # Don't need to filter on job
    relabel_configs:
      # Strip the address 
      - source_labels:
          - __address__
        target_label: canister_id
        regex: (.*)\.raw\.icp0\.io
        replacement: ${1}
        action: replace 
      # Assign env="dev" to all
      - source_labels: ["canister_id"]
        target_label: env
        regex: .*
        replacement: dev
        action: replace
      # Assign env="prod" to sgymv-uiaaa-aaaaa-aaaia-cai
      - source_labels: ["canister_id"]
        target_label: env
        regex: sgymv-uiaaa-aaaaa-aaaia-cai 
        replacement: prod
        action: replace
