apiVersion: 1
groups:
    - orgId: 1
      name: obs alert evaluations
      folder: obs alerts
      interval: 1m
      rules:
        - uid: Orchestrator_TargetMissing
          title: Orchestrator_TargetMissing
          condition: C
          data:
            - refId: A
              relativeTimeRange:
                from: 600
                to: 0
              datasourceUid: prometheus
              model:
                editorMode: builder
                expr: up{job="orchestrator"}
                instant: true
                intervalMs: 1000
                legendFormat: __auto
                maxDataPoints: 43200
                range: false
                refId: A
            - refId: C
              datasourceUid: __expr__
              model:
                conditions:
                    - evaluator:
                        params:
                            - 1
                        type: eq
                      operator:
                        type: and
                      query:
                        params:
                            - C
                      reducer:
                        params: []
                        type: last
                      type: query
                datasource:
                    type: __expr__
                    uid: __expr__
                expression: A
                intervalMs: 1000
                maxDataPoints: 43200
                refId: C
                type: threshold
          noDataState: NoData
          execErrState: Error
          for: 5m
          annotations: 
            description: |
              The orchestrator cannot be reached for this node. It could mean that the node is offline or the orchestrator died.
          labels:
            severity: critical
          isPaused: false

