# API documentation at https://prometheus-operator.dev/docs/operator/api/#monitoring.coreos.com/v1.Probe
{% macro hostport(host, port, transform_address_to_guest) -%}
{% if ":" in host and transform_address_to_guest -%}
{%   set segments = host.split(":") -%}
{%   if segments[4] == "6800" -%}
{%     set segments = segments[:4] + ["6801"] + segments[5:] %}{% set host = segments | join(":") -%}
{%   endif -%}
{% endif -%}
{% if ":" in host %}[{% endif %}{{ host }}{% if ":" in host %}]{% endif %}:{{ port -}}
{% endmacro -%}
{% for mode, exporters in vars.scrape_profiles.items() %}
{%   for exporter_data in exporters %}
---
apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  namespace: observability-stack
  name: {{ mode }}-{{ exporter_data.name }}
  labels:
    app: prometheus
spec:
  metricsPath: {{ exporter_data.endpoint }}
  scheme: {{ exporter_data.scheme }}
{%     if exporter_data.scheme == "HTTPS" %}
  tlsConfig:
    insecureSkipVerify: true
{%     endif %}
  staticConfigs:
{%     if "ic_nodes" in vars.scrape_configs and vars.scrape_configs.ic_nodes.get("mode", "proxied") == mode %}
{%       for target in vars.scrape_configs.ic_nodes.nodes %}{% if target is string %}{% set target= {"address": target} %}{% endif %}
    - labels:
{%         for k, v in exporter_data.labels.items() %}
        {{ k | to_json  }}: {{ v | to_json }}
{%         endfor %}
{%         for k, v in target.get("labels", {}).items() %}
        {{ k | to_json  }}: {{ v | to_json }}
{%         endfor %}
{%         if "ic_node" in target %}
        ic_node: {{ target.ic_node | to_json }}
{%         endif %}
      targets:
        - {{ hostport(target["address"], exporter_data.port, exporter_data.get("transform_address_to_guest", False)) | to_json }}
{%       endfor %}
{%     else %}
        []
{%     endif %}
{%   endfor %}
{% endfor %}